@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Prata";
  src: url("../assets/fonts/Prata-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Tenor";
  src: url("../assets/fonts/TenorSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {


}

@layer components {
  /*Image Container */
  .image-container{
    background-image: url("../../images/Image\ Author.png")
  }

  .text-box{
    width: 160rem;
    height: fit-content;
  }
}

 
@layer utilities {
  .vertical-line{
    rotate: (90deg);
    border: solid black 1px;
    height: 100%;
  }
}
